
/*#14FFF7;*/
/*#0BC9CD;*/
/*#1D8A99;*/
/*!*#7C77B9;*! fiolet*/


/*BEGIN NAVBAR*/

.navbar {
    margin-bottom: 0px;
    border-radius:0px;
}

.navbar-default {
    background-color: #1D8A99;
    border-color: #1D8A99;
    filter: drop-shadow(1px 1px 2px black);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #1D8A99;
    border-color: #1D8A99;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    text-transform: uppercase;
}

.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: #8FBFE0;
}

.navbar-brand>img {
    height: 20px;
}


/*END NAVBAR*/