/*begin browser*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*end browser*/

body{
    font-family: 'Advent Pro', sans-serif;
}
#funkcje{
    width:100%;
    padding-bottom: 200px;

}
#funkcje li{
    color: #986952;
    display: inline;
    float: left;
    width:23%;
    padding-left:10px;
    padding-right: 10px;

}
/*#funkcje li:hover{*/
    /*background-color: #F6D8B1 ;*/
/*}*/
#funkcje li.padding-obrazkow{
    padding-top: 20px;
}
#funkcje .nazwy{
    color: #453B38;
}
#funkcje .fa:hover{
    color:#FBb358;
}
#funkcje h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    text-align: center;
    margin-top: 60px;

}
#funkcje .padding-listy{
    padding-left:10px;
    padding-right: 10px;
}
#funkcje li p{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    padding-bottom:70px;
}
#funkcje .okienko{
    height: 40px;
}
#funkcje h1{
    padding-bottom: 30px;
    paddig-top: 20px;
    font-size:40px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: #453B38;
   }

#funkcje h1 #pytanie {
    height: 100px;
    background: linear-gradient(to right, #453b38, #d5815b, #fbb358);
   padding-top: 50px;

}


/*Style menu*/
#menu{ background-color: #453B38;  width: 100%; top: 0; position: fixed;box-shadow: 2px 2px 2px #00000;
    z-index:5;}
#menu ul li:hover{ background-color: #986952; }
#menu ul{ list-style-type: none; padding: 0; margin: 0; }
#menu ul li{ display: inline-block;height:60px }
#menu ul li a,visited,link{ color: #F6D8B1; display: block; padding: 20px; text-decoration: none; font-size:20px;}
#menu2{margin: 0 auto; text-align: center; }
#logo {position:fixed; left: 15px; top:7px}

/*<!--sekcja o nas-->*/

#sekcja-o-nas {
    background: linear-gradient(to right, #453b38, #d5815b, #fbb358); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: URL('');
    position: relative;
    text-align: center;
    font: "DejaVu Sans Condensed";
    color: white !important;
    display: inline-block;
    margin: auto;
    min-width:100%;
    margin-bottom: 10px;
    margin-top: 1px;
    padding-top:25px;
    padding-bottom: 25px;
}

#sekcja-o-nas dl {
    list-style: none;
    display: inline-block;
}


#image_lukasz{
    padding-bottom: 40px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.team_image:hover {
    opacity: 0.7;
    filter: none;
}

.name {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white !important;
}

.position{
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #453b38;
}

.role{
    max-width: 250px;
    text-align: center;display: block;
}

ul .user_profile
{
    margin-left: 35px;
    margin-right: 35px;
}


/*--END sekcja o nas--*/

/*--BEGIN slider--*/


div.slider
{
    background: url('/jfdd7-mkapz/img/slider/main_slider.jpg') no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 900px;
}

#slider_text
{
    position: relative;
    vertical-align: middle;
    top: 250px;
    color: #F6AE2D;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 2px 2px #000000;
    padding: 40px;
    margin-left:50px;
    margin-right:50px;
    border-radius:30px;
}

#slider_subtitle
{
    position: relative;
    vertical-align: middle;
    top: 150px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px 2px #000000;
    font-size: 20px;
    padding: 40px;
    margin:70px;
    border-radius:30px;
}

#slider_button
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 100px;
    vertical-align: middle;
    border-radius:30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#slider_button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*--END sekcja o nas--*/

/*formularz*/
#formularz-naglowek{text-align: center;}
#formularz{text-align: center; }
#przycisk {padding: 5px 10px 5px;  background-color:#453B38; border: 2px solid #453B38; color:#F6D8B1;font-size:15px;margin-bottom: 30px; border-radius: 28px;}
#przycisk:hover{background-color: #986952;}

/* sekcja długi opis*/

#opisdlugi {
    width:100%;
    padding-top :100px;
    padding-bottom: 100px;
}

#opisdlugi h1{
    padding-bottom: 70px;
    font-size:60px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: #453B38;
}
#opisdlugi ul {
    width: 100%;
    padding-top :50px;
    padding-bottom: 100px;
}

#opisdlugi li {
    display: inline;
    float: left;
    width: 50%;
}
#opisdlugi h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

#opisdlugi .padding-listy{
    padding-left:10px;
    padding-right: 10px;
}
#opisdlugi p {
    padding-top: 15px;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 20%;
}
#checkbox {}
#przetwarzanie_danych{}
#checkbox {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: #986952;
    background: linear-gradient(top, #453b38, #d5815b, #fbb358);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px #453B38;
}

